html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #7456d0 !default;
$dark-purple: #2d1f58 !default;
$pink: #e83e8c !default;
$red: #932621 !default;
$dark-orange: #ff944f !default;
$orange: #d16764 !default;
$light-orange: #f7b968;
$beige: #ffe3af !default;
$dark-beige: #ffd88f;
$yellow: #ffc107 !default;
$green: #90ba60 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$theme-colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "beige": $beige,
  "dark-beige": $dark-beige,
  "dark-purple": $dark-purple,
  "dark-orange": $dark-orange,
);
$spacer: 1rem;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    10: (
      $spacer * 0.625,
    ),
    20: (
      $spacer * 1.25,
    ),
    30: (
      $spacer * 1.875,
    ),
    40: (
      $spacer * 2.5,
    ),
    50: (
      $spacer * 3.125,
    ),
    60: (
      $spacer * 3.75,
    ),
    70: (
      $spacer * 4.375,
    ),
    80: (
      $spacer * 5,
    ),
    100: (
      $spacer * 6.25,
    ),
    120: (
      $spacer * 7.5,
    ),
  ),
  $spacers
);

@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";

@font-face {
  font-family: "Calibri";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/calibri-regular.woff") format("woff");
}

body {
  color: black !important;
  background-color: white !important;
}

.navbar-bg-blurred {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -moz-backdrop-filter: blur(30px);
  -ms-filter-backdrop-filter: blur(30px);
  -o-filter-backdrop-filter: blur(30px);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: hsla(0, 0%, 100%, 0.6);
  border-bottom: 1px solid rgba(#0a0a0a, 0.3);
  height: 86px;
}

// Buttons
.btn-lg {
  min-width: 160px;
  line-height: 1.1;
}

.mw-1200 {
  max-width: 1200px !important;
}

.mw-600 {
  max-width: 600px !important;
}

.min-h-100 {
  min-height: 100%;
}

.image-height {
  height: 200px;

  @include media-breakpoint-up(lg) {
    height: 500px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Calibri";
  font-weight: 600 !important;
}

h1 {
  font-size: 2.5rem;

  @include media-breakpoint-up(lg) {
    font-size: 3.125rem;
  }
}

[role="button"]:focus {
  outline: none;
}

nav {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;

  .navbar-brand svg {
    height: 45px;
    width: auto;
    @include media-breakpoint-up(md) {
      height: 60px;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0.5rem 1.2rem !important;
  }

  .navbar-collapse {
    .navbar-nav .nav-link {
      &:first-child {
        color: $orange;

        &:hover {
          color: darken($orange, 10%);
        }

        &:focus {
          color: $orange;
          outline: none;
        }
      }

      &:nth-child(2) {
        color: darken($purple, 10%);

        &:hover {
          color: darken($purple, 20%);
        }

        &:focus {
          color: darken($purple, 10%);
          outline: none;
        }
      }
      &:nth-child(3) {
        color: darken($green, 30%);
        &:hover {
          color: darken($green, 40%);
        }
        &:focus {
          color: darken($green, 10%);
          outline: none;
        }
      }

      &:nth-child(4) {
        color: darken($dark-orange, 30%);
        &:hover {
          color: darken($dark-orange, 40%);
        }
        &:focus {
          color: darken($dark-orange, 10%);
          outline: none;
        }
      }

      &:last-child {
        color: lighten($blue, 20%);
        text-decoration: none;

        &:hover {
          color: darken($blue, 10%);
        }
        &:focus {
          color: darken($blue, 10%);
          outline: none;
        }
      }

      a {
        margin-left: 0;
        text-decoration: none;
      }
    }

    a {
      margin-left: 1.5rem;
      color: inherit;

      &:hover {
        text-decoration: none;
      }

      @include media-breakpoint-down(lg) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
      }
    }

    @include media-breakpoint-down(md) {
      position: absolute;
      right: 0px;
      top: 60px;
      z-index: 1;
      width: 100%;
      padding: 20px;
      background: #fffaf0;
    }
  }
}

.landing-bg {
  position: absolute;
  transform: scaleX(-1);
  top: 0;
  right: 0;
  z-index: -1;
}

.dots {
  position: absolute;
  transform: scale(1.2);

  .dot {
    width: 40px;
    height: 40px;
    background: $orange;
    border-radius: 20px;
  }

  .one {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -100px;
    background: $dark-orange;
  }
  .two {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -70px;
    left: 50px;
    background: #4fd8d5;
    filter: blur(2px);
  }
  .three {
    width: 50px;
    height: 50px;
    position: absolute;
    background: $purple;
    top: 0;
    left: 0;
    filter: blur(4px);
    border-radius: 40px;
  }
  .four {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -250px;
    right: -390px;
    background: $light-orange;
  }
  .five {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -385px;
    bottom: -346px;
  }
  .six {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -410px;
    bottom: -200px;
    background: $green;
    filter: blur(2px);
  }
  .seven {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -320px;
    bottom: -280px;
    border-radius: 40px;
    background: $purple;
    filter: blur(4px);
  }
}

.landing {
  height: 93vh;

  .container {
    .play {
      color: $purple;
    }
    .learn {
      color: $green;
    }
    .se {
      color: $light-orange;
    }
    .fun {
      color: $dark-orange;
    }

    .btn-sign-up {
      min-width: 164px;
      height: 38px;
      background: $green;
      color: white;
      font-weight: 600;
      border-radius: 5px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 10px #0000001a;
      }
    }
    a {
      color: $green;
      font-weight: bold;
      transition: transform 0.3s ease;

      &:hover {
        text-decoration: none;
        transform: scale(1.05);
      }
    }

    .image-two {
      width: inherit;
      img {
        width: inherit;
      }
    }
    .images {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      z-index: -1;

      .img-one {
        top: -30%;
        height: auto;
        width: 70%;
      }
      .img-three {
        right: 0px;
        bottom: -30%;
        height: auto;
        width: 80%;
      }
    }
  }
}

.information {
  margin-top: 80px;
  margin-bottom: 80px;

  .section-heading {
    font-weight: bold;
    font-size: 2rem;
    color: $purple;
    margin-bottom: 0;
  }
  .section-paragraph {
    font-weight: normal;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 40px;
  }

  .info-col {
    padding-left: 30px;
    padding-right: 30px;
    .info-image {
      margin-bottom: 15px;
    }
    h1 {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 10px;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

.care {
  figure img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transform: rotate(5deg);
  }

  h2 {
    font-weight: bold;
    font-size: 2rem;
    color: $purple;
    margin-bottom: 0;
  }

  .sub-header {
    font-weight: normal;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 40px;
  }

  ul {
    font-size: 1rem;
    padding-inline-start: 20px;
    list-style-image: url(../public/images/check.svg);
  }

  a {
    text-decoration: none;
    font-weight: 600;

    span {
      transition: all 0.3s ease;
    }

    &:hover {
      text-decoration: none;
      color: darken($warning, 2%);

      span {
        padding-left: 10px;
      }
    }
  }
}

.prefooter {
  .one {
    top: -60px;
    left: -60px;
    background: $light-orange;
    filter: blur(2px);
  }
  .two {
    top: -35px;
    left: 90px;
    background: $light-orange;
  }
  .three {
    background: $light-orange;
    top: 80px;
    left: 10px;
  }
  .four {
    bottom: 40px;
    right: -800px;
    background: $light-orange;
    filter: blur(2px);
  }
  .five {
    right: -770px;
    bottom: -56px;
    background: $light-orange;
    filter: blur(2px);
  }
  .six {
    right: -800px;
    bottom: -150px;
    background: $light-orange;
  }
  .seven {
    right: -660px;
    bottom: -140px;
    background: $light-orange;
  }
}

.news {
  figure .img-news {
    width: 100%;
    padding: 20px 50px;
  }

  h2:first-child {
    color: $indigo;
  }
}

.gallery-section {
  padding: 120px 0;

  .wrapper {
    background-color: lighten($blue, 15%);
    color: white;
    padding: 50px;
    border-radius: 150px;

    a {
      font-size: $h5-font-size;
      font-weight: 600;
      color: white;
      padding: 3px 20px 7px 20px;
      border: 2px solid white;
      border-radius: 20px;

      &:hover {
        text-decoration: none;
        color: darken(white, 2%);
      }
    }

    &:hover {
      animation: galleryShake 0.5s ease;
    }
  }
}

.documents-section {
  margin-top: 120px;

  ul {
    margin-bottom: 40px;

    li a {
      color: $dark-purple;
      text-decoration: none;
    }
  }
}

@keyframes galleryShake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
