// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
                (
                        '100': $gray-100,
                        '200': $gray-200,
                        '300': $gray-300,
                        '400': $gray-400,
                        '500': $gray-500,
                        '600': $gray-600,
                        '700': $gray-700,
                        '800': $gray-800,
                        '900': $gray-900
                ),
                $grays
);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #7456d0 !default;
$dark-purple: #2d1f58 !default;
$pink: #e83e8c !default;
$red: #932621 !default;
$dark-orange: #ff944f !default;
$orange: #d16764 !default;
$light-orange: #f7b968 ;
$beige: #ffe3af !default;
$dark-beige: #ffd88f;
$yellow: #ffc107 !default;
$green: #90ba60 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
                (
                        'blue': $blue,
                        'indigo': $indigo,
                        'purple': $purple,
                        'pink': $pink,
                        'red': $red,
                        'orange': $orange,
                        'yellow': $yellow,
                        'green': $green,
                        'teal': $teal,
                        'cyan': $cyan,
                        'white': $white,
                        'gray': $gray-600,
                        'gray-dark': $gray-800,
                        'beige': $beige,
                        'dark-beige': $dark-beige,
                        'dark-purple': $dark-purple,
                        'dark-orange': $dark-orange,
                ),
                $colors
);

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        'primary': $primary,
                        'secondary': $secondary,
                        'success': $success,
                        'info': $info,
                        'warning': $warning,
                        'danger': $danger,
                        'light': $light,
                        'dark': $dark,
                        'beige': $beige,
                        'dark-beige': $dark-beige,
                        'green': $green,
                        'purple': $purple,
                        'dark-purple': $dark-purple,
                        'dark-orange': $dark-orange
                ),
                $theme-colors
);

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
                (
                        0: 0,
                        1: (
                                $spacer * 0.25
                        ),
                        2: (
                                $spacer * 0.5
                        ),
                        3: $spacer,
                        4: (
                                $spacer * 1.5
                        ),
                        5: (
                                $spacer * 3
                        ),
                        10: (
                                $spacer * 0.625
                        ),
                        20: (
                                $spacer * 1.25
                        ),
                        30: (
                                $spacer * 1.875
                        ),
                        40: (
                                $spacer * 2.5
                        ),
                        50: (
                                $spacer * 3.125
                        ),
                        60: (
                                $spacer * 3.75
                        ),
                        70: (
                                $spacer * 4.375
                        ),
                        80: (
                                $spacer * 5
                        ),
                        100: (
                                $spacer * 6.25
                        ),
                        120: (
                                $spacer * 7.5
                        )
                ),
                $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
                (
                        25: 25%,
                        50: 50%,
                        75: 75%,
                        100: 100%,
                        auto: auto
                ),
                $sizes
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-900 !default;

// Button

$border-radius: 0.312rem;
$border-radius-lg: $border-radius;

// Fonts
$font-family-cal: 'Calibri';

// Headings
$h1-font-size:                $font-size-base * 3.12 !default;


$headings-margin-bottom:      0 !default;
$headings-font-family:        $font-family-cal !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
